<p>All lists:</p>
<li><a href="/teachers/">/teachers/ - щоб побачити всіх вчителів з бази даних</a></li>
<li><a href="/groups/">/groups/ - щоб побачити всі групи з бази даних</a></li>
<li><a href="/list-students/">/list-students/ - щоб побачити всіх стунетив</a></li>
<p>Create:</p>
<li><a href="/teacher/">/teacher/ - щоб додати вчителя</a></li>
<li><a href="/group/">/group/ - щоб створити групу</a></li>
<li><a href="/create-student/">/create-student/ - щоб додати студента</a></li>
<p>Edit or delete</p>
<li>Аби видилити або змінити дані вчителя напишіть /edit-teacher/"id вчителя"</li>
<li>Аби видилити або змінити дані студента напишіть /edit-student/"id студента"</li>
<li>Аби додати студента до групи напишіть /to-group/"id студента"</li>